.box{
  @include box-sizing(border-box);
  height: 100%;
  display: block;
}
section{
  @extend .box;
  float: left;
  width: 25%;
  padding: 65px 4% 0;
  &#title{ 
    @include transition-duration(.5s);
    text-align: center;
    padding: 30px 2% 0;
  }
  &.information{
    background-color: #ffffff;
  }
  &#map{
    background: aqua;
  }
}
#banner{
  @extend .box;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
#more{
  @extend .box;
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 30px 4% 0;
  width: 50%;
  display: none;
}
#one-page-wrap{
  height: 100%;
}
header{
  position: fixed;
  top: 0px;
  padding: 22px 8%;
  width: 100%;
  z-index: 100;
}
ul.archive{
  margin-top: 65px;
  li.event-link{
    width: 100%;
    & .img-container, .info-container{
      width: 50%;
      float: left;
      height: 300px;
      text-align: center;
      &.img-container{
        overflow: hidden;
        background-image: url('images/dot.png');
        img{
          opacity: .8;
        }
      }
      &.info-container{
        @include box-sizing(border-box);
        padding: 20px;
      }
    }
  }
}