.box{
  @include box-sizing(border-box);
  height: 100%;
  display: block;
}
section{
  @extend .box;
  float: left;
  width: 25%;
  padding: 30px 4% 0;
  &#title{ 
    @include transition-duration(.5s);
    text-align: center;
  }
  &#information{
    background-color: white;
    overflow: scroll;
  }
  &#map{
    background: aqua;
  }
}
#banner{
  @extend .box;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-color: aqua;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
#one-page-wrap{
  height: 100%;
}