.direction{
  position: absolute;
  bottom: 0px;
  height: 40px;
  display: block;
  width: 85%;
  text-align: center;
}
.information{
  div{
    padding-top: 30px;
    /*
background-image: url('images/marker.png');
    background-repeat: no-repeat;
    background-position: center top;
*/
    margin-bottom: 20px;
  }
}
.dates{
  ul{
    li.date{
    }
  }
}
#banner{
  background-color: white;
  text-align: center;
  background-image: url('images/dot.png');
  img{
    height: 100%;
    opacity: .8;
    @include transition-duration(.5s);
  }
}
.dates{
  ul{
    li.date{
      border-bottom: 1px solid $black;
      &:not(:first-child){
      padding: 10px 0px 0px;
      }
    }
  }
}
#more{
  text-align: center;
  ul.similar-events{
    height: 100%;
    li{
      overflow: hidden;
      height: 30%;
      .info{
      }
      img{
        position: relative;
        top: -20px;
      }
    }
  }
}