.direction{
  position: absolute;
  bottom: 0px;
  height: 40px;
  display: block;
  width: 85%;
  text-align: center;
}
.information{
  div{
    padding-top: 30px;
    background-image: url('images/marker.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 50px;
  }
}
.dates{
  ul{
    li.date{
      height: 100px;
      width: 100px;
      @include box-sizing(border-box);
      padding: 8px;
      display: inline-block;
      margin: 13px 15px;
      background-color: white;
      span.month{
        display: block;
      }
    }
  }
}
#banner{
  background-color: white;
  text-align: center;
  background-image: url('images/dot.png');
  img{
    height: 100%;
    opacity: .8;
    @include transition-duration(.5s);
  }
}
.dates{
  ul{
  outline: black 1px solid;
  }
}