.viewing-page-2,.viewing-page-3,.viewing-page-4{
  #banner{
    background-color: white;
    background-image: inherit;
    background-image: url('images/dot.png');
    img{
      opacity: .2;
      @include transition-duration(.5s);
    }
  }
  #title{
    color: #ffffff;
    @include transition-duration(.5s);
  }
}
.viewing-page-1, .viewing-page-2{
  p.branding{
    span.next{
      color: white;
      @include transition-duration(.5s);
    }
  }
}
.viewing-page-4,.viewing-page-3,.viewing-page-5{
  #more{
    display: block;
  }
}