h1{
  font-family: $knewave;
  font-size: 6.1em;
  line-height: .8em;
  text-align: center;
  letter-spacing: -6px;
  padding: 80px 0px 50px;
  /*
transform: rotate(10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
*/
}
h3{
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}
h4{
  font-family:  $knewave;
  font-size: 5em;
  letter-spacing: -6px;
  line-height: .8em;
  margin-top: 20px;
  margin-bottom: 40px;
}
.direction{
  font-size: 1em;
  font-weight: 200;
}
.category{
  font-weight: 300;
  font-size: .7em;
  text-transform: uppercase;
}
.byline{
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase; 
  margin-top: 20px;
}
p{
  font-size: 1em;
  line-height: 1.4em;
}
.details{
  dl{
    dt{
      font-weight: 200;
      font-style: 1em;
      &:not(:first-child){
        margin-top: 10px;
      }
    }
    dd{
      font-weight: 700;
      font-size: 1em;
    }
  }
}
.add-info, .notes{
  ul{
    li{
      font-weight: 200;
    }
  }
}
.branding{
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}
.dates{
  ul{
    li.date{
      font-size: 1.2em;
      span.month{
        font-weight: 700;
      }
      span.day{
        font-weight: 700;
      }
      span.ordinal{
        font-weight: 300;
        text-transform: uppercase;
        font-size: .6em;
      }
    }
  }
}
#more{
 h2{
   text-align: center;
 } 
}
